
/* ****************less than 1084px *****************/
@media screen and (max-width: 1084px) {
    
.hero .banner .content h1{
    font-size: 2rem;
}

.hero .banner .content p{
    font-size: 0.75rem;
}

.hero .banner .content .watch i{
    font-size: 1.5rem;
}
.hero .banner .content .watch button{
    font-size:1.5rem;
}


}






/* ****************less than 1000px *****************/
@media screen and (max-width: 1000px) {
    header .brand{
        grid-column: 2/3;
    }
    header .brand img{
        width: 100px;
    }
    header .links{
        grid-column: 3/6;
    }

    
.hero .banner .content h1{
    font-size: 1.3rem;
}

.hero .banner .content p{
    font-size: 0.65rem;
}

.hero .banner .content .watch i{
    font-size: 1.5rem;
}
.hero .banner .content .watch button{
    font-size:1rem;
}

}





/* ****************less than 660px *****************/
@media screen and (max-width: 660px) {
    header{
        display: none;
    }
    .mobile{
        display: block;
    
    }
}